@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.alert-banner {
    opacity: 1;
}
.alert-banner input:checked ~ * {
    opacity: 0;
    /* transform: translateY(-150px); */
    height: 0;
    padding: 0;
    /* position: absolute; */
}

.author_story_table {
    @apply w-full bg-gray-50;
    @apply border border-b-0 border-gray-200;
}
.author_story_table th {
    @apply md:text-base sm:text-sm;
}
.author_story_table .cover {
    padding: 0;
    padding-left: 0.25em;
}
.author_story_table tr {
    /* border-bottom: 1px solid grey; */
    @apply border-b border-gray-200;
}
.author_story_table td {
    padding: 10px;
}
.story_index_table td {
    @apply border p-2
}

input[type='checkbox'], input[type='text'], select {
    @apply shadow-sm border border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}
